<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webprj.project_green.dao.BoardDao" >
    <select id="getBoardData" resultType="com.webprj.project_green.dto.BoardDto" >
        <!--SELECT * FROM PRODUCT-->
        SELECT postnum as postNum, title, content, uploaddate as uploadDate, recommend, imageurl as imageUrl, category, userid as userId FROM BOARD
        <!-- aLIAS 를 사용하여, DTO 와 이름을 꼭 맞출 수 있도록 하자. -->
    </select>
    <insert id="createBoard" parameterType="com.webprj.project_green.dto.BoardDto" >
    	INSERT INTO BOARD (POSTNUM, TITLE, CONTENT, UPLOADDATE, IMAGEURL, CATEGORY, USERID)
		VALUES(POSTNUM_SEQ.NEXTVAL, #{title}, #{content}, sysdate, #{imageUrl}, #{category}, #{userId})
    </insert>
</mapper>