
/*LOADING*/
.loading-container{
    display:block;
    width: 100%; height:100%;
    position: absolute;
    top:0px; left:0px;
    z-index: 100;
    background: #3c4a5c;
    opacity: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    -webkit-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
    -moz-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
    -ms-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
    -o-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
    transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
}

.loding-animation-holder{
    width: 100px; height:100px;
    transform:rotate(45deg);
    position: relative;
}

.loading-animator{
    width: 50%; height:50%;
    float:left;
    background: #368a79;
    transform:rotate(0deg);
    position:relative;
    top:0px; left:0px;
    bottom:0px; right:0px;
    opacity: 1;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.46,-0.1,.2,1.5);
}

.loading-animator:nth-child(1){
    transform-origin: bottom right;
}

.loading-animator:nth-child(2){
    transform-origin: bottom left;
    animation-delay:0.3s;
}

.loading-animator:nth-child(3){
    transform-origin: top right;
    animation-delay:0.5s;
}

.loading-animator:nth-child(4){
    transform-origin: top left;
    animation-delay:0.4s;
}

@keyframes loading {
    0%{
        transform:rotate(0deg);
        opacity: 1;
    }
    25%{
        transform:rotate(90deg);
        opacity: 0;
    }
    35%{
        transform:rotate(-90deg);
        opacity:0;
    }
    65%{
        transform:rotate(0deg);
        opacity: 1;
    }
}

.middle-circle{
    width: 5px; height: 5px;
    position: absolute;
    top:47.5px; left:47.5px;
    border-radius: 100%;
    border:1px solid #5bffde;
    background: #3c4a5c;
}