<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>프로젝트 그린</title>
   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/join.css" rel="stylesheet" />
        <link href="/css/menu.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav id="menu" style="position: relative;">
            <div class="menu-item">
                <div class="menu-text">
                    <a href="index">메인</a>
                </div>
                <div class="sub-menu double">
                    <div class="icon-box gb a" style="margin-left: 130px;">
                        <div class="icon"><i class="far fa-question-circle"></i></div>
                        <div class="text" >
                            <div class="title"><a class="navbar-brand"  onclick="location.href='../index'">메인</a> <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">저희는 환경보호를 위한 친환경 제품 사용을 장려하기 위해 만들었습니다!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-item highlight">
                <div class="menu-text">
                    <a class="navbar-brand"  onclick="location.href='../intro'">소개</a>
                </div>
                <div class="sub-menu double">
                  
                    <div class="icon-box gb c">
                        <div class="icon"><i class="far fa-school"></i></div>
                        <div class="text">
                            <div class="title">소개 <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">왜 만들었을까요?</div>
                        </div>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div class="menu-item highlight">
                <div class="menu-text">
                    <a class="navbar-brand" onclick="location.href='../rank'">랭킹</a>
                </div>
                <div class="sub-menu triple">
                    <div class="top-container gb c icon-box">
                        <div class="icon big"><i class="far fa-book"></i></div>
                        <div class="text">
                            <div class="title"><a class="navbar-brand" onclick="location.href='../rank'">제품 소개</a></div>
                            <div class="sub-text">투표를 통해 가장 많이 사랑받은 제품을 소개해드리겠습니다!</div>
                        </div>
                    </div>
                    <div class="box">
                        <a href="#">좋아요!</a>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-text">
                    <a class="dropbtn" onclick="location.href='/b_freetalk'">게시판</a>
                </div>
                <div class="sub-menu">
                    <div class="icon-box">
                        <div class="icon"><i class="far fa-satellite"></i></div>
                        <div class="text">
                            <div class="title"><a class="navbar-brand" onclick="location.href='/b_freetalk'">자유게시판</a> <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">아무 주제나 환영합니다!</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="fab fa-twitter-square"></i></div>
                        <div class="text">
                            <div class="title"><a id="testtt2" class="navbar-brand" onclick="location.href='/b_prove'">인증게시판</a> <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">여러분이 사용하시는 친환경 제품을 보여주세요.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="fab fa-twitch"></i></div>
                        <div class="text">
                            <div class="title"><a class="navbar-brand" onclick="location.href='/b_mission'">미션게시판</a> <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">여러분께 미션을 드리죠.</div>
                        </div>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            
            <div id="sub-menu-container">
                <div id="sub-menu-holder">
                    <div id="sub-menu-bottom">
                        
                    </div>
                </div>
            </div>
        </nav>
        
            <div id="info-box">
                <div th:if="${sess_id == null}">
                    <ul>
                        <li><a class="nav-link" onclick="location.href='login'">로그인</a></li>
                        <li><a class="nav-link" onclick="location.href='join'">회원가입</a></li>
                    </ul>
                </div>
                <div th:unless="${sess_id == null}">
                    <ul>
                        <li id="message1" th:text="${'환영합니다! ' + sess_id + '님'}" style="float: right; font-size: 1em; font-family: 'Roboto', sans-serif; font-weight: 900;"></li><br/>
                        <a href="/logout" style="float: right;">로그아웃</a>
                    </ul>
                </div>
               
            </div>
        
        

<div class="testbox" >
  <h1>회원 가입</h1>

  <form action="/login/join" name = "join_form" id="join" method="post" >
      <hr>
    <div class="accounttype">
      <input type="radio" value="None" id="radioOne" name="account" checked/>
      <label for="radioOne" class="radio" style="margin-bottom: 0px;">일반 이용자</label>
    </div>
  <hr>
  <label id="icon" for="name"><i class="icon-user" style="margin-top: 1px;"></i></label>
  <input type="text" name="id" id="id" placeholder="id" required/>
  <button id="id-check" type="button" >중복확인</button>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="password" id="password" placeholder="password" required style="margin-top: 1px; margin-bottom: 1px;"/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="pw_check" id="pw_check" placeholder="Password check" required style="margin-top: 1px; margin-bottom: 1px;"/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="name" id="name" placeholder="name" required style="margin-top: 1px; margin-bottom: 1px;"/>
  <label id="icon" for="name"><i class="icon-envelope"></i></label>
  <input type="text" name="email" id="email" placeholder="email" required style="margin-top: 1px; margin-bottom: 1px;"/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="text" name="phone" id="phone" placeholder="phone" required style="margin-top: 1px; margin-bottom: 1px;"/>

  <a class="button" id="join-button" style="padding-right: 80px; margin-right: 50px;">Register</a>

   <input type="button" value="취소" onclick="history.back();">
   <!-- <input type="button" id="join-button" value="회원가입" > -->
  </form>
</div>


 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    
 <script src="/js/scripts.js" type="text/javascript"></script>
 <script>
 		
 
 
 	// 중복확인 했을 때
 	
 	// 아이디가 중복이 아니면
 	// 사용할 수 있다는 알림을 주자
 	
 	// 아이디가 중복되면
 	// 사용할 수 없다는 알림을 주자
 </script>
</body>
</html>
