<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	
	function cancel(){
		location.href="/login/jons"
		}
	function menu(form) {
		form.submit();
        location.href="/index"
    }
	</script>
	  <script type="text/javascript">
	    function test() {
	      var p1 = document.getElementById('password1').value;
	      var p2 = document.getElementById('password2').value;
	      if( p1 != p2 ) {
	        alert("비밀번호가 일치 하지 않습니다");
	        return false;
	      } else{
	        alert("비밀번호가 일치합니다");
	        return true;
	      }

	    }
	  </script>
</head>
<body>
<center>
	<h1>메인  소개  친환경 제품랭킹  커뮤니티 </h1>
	
<form action="/login/sign" id="join" method="post">

<label for="id">
아이디 : <input type="text" name="id" id="id">
</label></br>

<label for="password">
비밀번호 : <input type="text" name="password" id="password1">
</label></br>

<label for="password2">
비밀번호확인 : <input type="text" name="password" id="password2">
</label></br>

<input type="button" onclick="test()" value="확인">
    
<label for="email">
이메일 : <input type="text" name="email" id="email">
</label></br>

<label for="phone">
전화번호 : <input type="text" name="phone" id="phone">
</label></br>
<!-- <form action="/action_page.php">
  <label for="email">이메일:</label>
  <input type="email" id="email" name="email">
  <input type="submit" value="Submit">
</form> -->


 <input type="button" value="취소" onclick="cancel()">
<button type="submit" onclick="menu()">회원가입</button>

</form>

</center>

 
</body>
</html>