<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Detail Page</h1>
	
	<li th:each="dto: ${board}">
		<span  th:text="${dto.postNum + '번호'}"></span>
        <span  th:text="${dto.title + '제목'}"></span>
        <span  th:text="${dto.content + '내용'}"></span>
        <span  th:text="${dto.uploadDate + '게시일'}"></span>
        <span  th:text="${dto.recommend + '좋아요 수'}"></span>
        <span  th:text="${dto.imageUrl + '이미지'}"></span>
        <span  th:text="${dto.category + '카테고리'}"></span>
        <span  th:text="${dto.userId + '사용자'}"></span>
          <input>좋아요</input>
    </li>
    
</body>
</html>