<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	window.onload = function (){
		try{
			document.querySelector("#edit").onclick = function(){
			alert("수정을 클릭");
			}
			document.querySelector("#remove").onclick = function(){
			alert("삭제을 클릭");
			}
		}catch{
			console.log("버튼 없음");
		}
	}
</script>


</head>
<body>
	<h1>Detail Page</h1>
	<div>
		<span  th:text="${board.postNum + '번호'}"></span> 
        <span  th:text="${board.title + '제목'}"></span>
        <span  th:text="${board.content + '내용'}"></span>
        <span  th:text="${board.uploadDate + '게시일'}"></span>
        <span  th:text="${board.recommend + '좋아요 수'}"></span>
        <span  th:text="${board.imageUrl + '이미지'}"></span>
        <span  th:text="${board.category + '카테고리'}"></span>
        <span  th:text="${board.userId + '사용자'}"></span>
        <div th:if="${#strings.equals(board.userId, sess_id)}">
	        <a th:href="@{/updateView(postNum=${board.postNum})}">수정</a>
	        <a th:href="|/board/delete/${board.postNum}|"><button>삭제</button></a>
        </div>
        <a href="/b_freetalk">목록으로가기</a>
       
    </div>
  
	<tr>
		<th>좋아요</th>
		<td><a th:href="${'/board/list/like/' + board.postNum}"
			onclick="if ( confirm('추천하시겠습니까?') == false) { return false;}">좋아요</a>
		</td>)

	</tr>

</body>
</html>