<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/board/new" method="post">
		<label for="title" > 제목: </label>
		<input type="text" id="title" name="title" required><br />
		<label for="content" > 내용 : </label>
		<textarea id="content" rows="20" cols="100" name="content" required></textarea> <br />
		<label for="image">이미지 첨부</label>
		<input type="file" id="image" name="imageUrl"> <br />
		<label for="category">카테고리:</label>
		<select id="category" name="category" >
		    <option value="volvo">Volvo</option>
		    <option value="saab">Saab</option>
		    <option value="fiat">Fiat</option>
		    <option value="audi">Audi</option>
	    </select> <br />
	    <button>제출하기</button>
	</form>
</body>
</html>