<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
    <title>Insert title here</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/write.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="border-bottom-style: solid; border-bottom-width: thin; border-color: bisque;">
            <div class="container px-4 px-lg-5">
                <table width = "800">
                    <tr id=>
                        <td width = "150">
                            <!-- <a class="link-1" href="#page-top" onclick="location.href='index'">메인메뉴</a> -->
                            <a class="navbar-brand"  onclick="location.href='index'">메인메뉴</a>
                        </td>
                        <td width = "120">
                            <a class="navbar-brand" href="#introduction" onclick="location.href='intro'">소개</a>
                      </td>  
                      <td width = "150">
                          <a class="navbar-brand" onclick="location.href='rank'">친환경 제품 소개</a>
                      </td>  
                      <td width = "150">
                          <a class="navbar-brand" onclick="location.href='b_freetalk'">커뮤니티</a> &nbsp;&nbsp;&nbsp;
                      </td>  
                    </tr>
                  </table>

                <button class="navbar-toggler navbar-toggler-right" id="buttoncar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
               
               
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" onclick="location.href='login'">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" onclick="location.href='join'">회원가입</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        
       
       <div class="container">
            <div class="row">
                    <h1>게시글 작성</h1>
            </div>
            <form name="createBoard" action="/board/update" method="post" >
                <div class="row input-container">
                	<input type="hidden" name="postNum" th:value="${update.postNum}">
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <select id="category" name="category">
                            	
                            </select>
                        </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input th:value="${update.title}" type="text" id="title" name="title" required style="width: 800px;"/>
                            <label>제목</label> 
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea th:text="${update.content}" id="content" rows="20" cols="100" name="content" required style="width: 800px; height: 500px;"></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <input th:value="${update.imageUrl}" type="file" id="uploadFiles" name="uploadFiles" style="width: 800px;">
                        <input type="hidden" id="imageUrl" name="imageUrl" value="asdf">
                         <br /><br />
                    
                    </div>
                    <div class="col-xs-12" style="margin-left: 183px;">
                        <!-- <div class="btn-lrg submit-btn">Send Message</div> -->
                        <button type="button" class="uploadBtn btn-lrg submit-btn">제출하기</button>
                    </div>
                   
                </div>
            </div>
        </form>
	</div>
	<script src="/js/uploadImg.js"></script>
	<script th:inline"javascript">
		var options = ""
		console.log(options)
		if ([[${#strings.equals(update.category, "free-board")}]]){
		    options = '<option value="free-board" selected>자유게시판</option>'
	    	options += '<option value="show-board">인증게시판</option>'
    		options += '<option value="mission-board">미션게시판</option>'
		}else if([[${#strings.equals(update.category, "show-board")}]]){
			options = '<option value="free-board" >자유게시판</option>'
	    	options += '<option value="show-board" selected>인증게시판</option>'
    		options += '<option value="mission-board">미션게시판</option>'
		}else if([[${#strings.equals(update.category, "mission-board")}]]){
			options = '<option value="free-board" >자유게시판</option>'
	    	options += '<option value="show-board" >인증게시판</option>'
    		options += '<option value="mission-board" selected>미션게시판</option>'
		}
		    
		document.querySelector("#category").innerHTML = options;
	</script>
</div>
</body>
</html>